<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS_ALEXIS_CAZCO</title>
</head>
<body>
<div>
<center>
<h1>SISTEMAS  EMBEBIDOS  -  ALEXIS .CAZCO</h1>
<img id="imagen" src="https://i.pinimg.com/originals/05/70/56/057056dae3c4c8a5c5426f6c458ba001.gif" alt="user">
<p>Universidad Nacional de Chimborazo - Sensor UNACH</p>
<h1>Sensor 1:</h><h id="sensor1">--</h1>
<h1>Sensor 2:</h><h id="sensor2">--</h1>
<h1>Sensor 3:</h><h id="sensor3">--</h1>
<button id = 'LED1On'type="button" onclick="LED1_On();">
LED1 ON!</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">
LED1_OFF!</button>
<button id = 'UNACHmodo' type="button" onclick="UNACH_modo();">
TELECOMUNICACIONES</button>
<button id = 'UNACHmodo1' type="button" onclick="UNACH_modo1();">
RESULTADOS</button>
<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
function TELECOMUNICACIONES(){
	alert("unach modo");
	console.log("unach modo");
}
function RESULTADOS(){
	alert("unach modo1");
	console.log("unach modo1");
}
*/
</script>
</body>
</html>
